


.task-bar{
    height: 10vh;
    width: 100vw;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    top : 0;
}

.task-bar-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 100px;;
    margin-right: 10%;

}  

.btn {
    background-color: grey;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
}